---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Galería">
  <section class="section container">
    <h1 class="text-5xl text-primary mb-8 font-bold">Galería de Fotos</h1>
    <p class="mb-8">Próximamente fotos de nuestros eventos.</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
       <div class="aspect-square bg-gray-200 rounded-lg pulse"></div>
       <div class="aspect-square bg-gray-200 rounded-lg pulse"></div>
       <div class="aspect-square bg-gray-200 rounded-lg pulse"></div>
       <div class="aspect-square bg-gray-200 rounded-lg pulse"></div>
    </div>
  </section>
</MainLayout>

