---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Quiénes Somos">
  <section class="section container">
    <div>
      <h1 class="text-5xl text-primary mb-4 font-bold">Quiénes Somos</h1>
      <p class="text-xl mb-12 max-w-2xl">
        El Club de Conquistadores Rigel es parte de un movimiento mundial organizado por la Iglesia Adventista del Séptimo Día.
      </p>
      
      <div class="grid gap-8 md:grid-cols-2">
        <div class="glass-panel p-8 rounded-xl">
          <h2 class="text-2xl text-primary mb-4 font-bold">Nuestros Ideales</h2>
          <p class="leading-relaxed">
            El Blanco: "El mensaje del advenimiento a todo el mundo en mi generación."
            <br><br>
            El Lema: "El amor de Cristo nos motiva."
          </p>
        </div>
        <div class="glass-panel p-8 rounded-xl">
          <h2 class="text-2xl text-primary mb-4 font-bold">Nuestra Promesa</h2>
          <p class="leading-relaxed">
            "Por la gracia de Dios, seré puro, bondadoso y leal. Guardaré la Ley del Conquistador, seré siervo de Dios y amigo de la humanidad."
          </p>
        </div>
      </div>
    </div>
  </section>
</MainLayout>

